<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testapp.testapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.testapp.testapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.testapp.testapp.prob2activity"
            android:label="@string/title_activity_prob2activity"
            android:parentActivityName="com.example.testapp.testapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.example.testapp.testapp.prob3activity"
            android:label="Test App"
            android:parentActivityName="com.example.testapp.testapp.prob2activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="prob2activity" />
        </activity>
        <activity
            android:name="com.example.testapp.testapp.prob4activity"
            android:label="@string/title_activity_prob4activity"
            android:parentActivityName="com.example.testapp.testapp.prob3activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="prob3activity" />
        </activity>
    </application>

</manifest>
